body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0B101E;
    color: #D5D8E0;
}

.header {
    position: relative;
    width: 100%;
    max-height: 200px;
    overflow: hidden;
}

.header img {
    width: 100%;
    height: 200px;
    display: block;
}

.header-text {
    position: absolute;
    font-size: 30px;
    top: 50%;
    right: 1%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFD25A;
}

nav {
    background-color: #1C2B42;
    border: 1px solid #2F6977;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0 10px;

    display: flex;
    align-items: center;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;

    background-color: #0B101E;
    border-radius: 5px;
    margin: 5px;
}

nav a:hover {
    background-color: #2F6977;
    color: white;
}

/* Search bar */
.search-bar {
    display: flex;
    margin-right: auto;
}

.search-bar input {
    width: 250px;
    padding: 9px 15px;
    background-color: #0B101E;
    color: #D5D8E0; 
    border: 1px solid #52B5B0;
    outline: none;
    border-radius: 20px 0 0 20px;
}

.search-bar input::placeholder {
    color: #D5D8E0;
}

.search-bar button {
    padding: 9px 15px;
    border: none;
    background-color: #52B5B0;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}

.search-bar button:hover {
    background-color: #A4F3E6;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #2F6977;
    border-radius: 6px;
    background-color: #1C2B42;
}

.card-produk {
    background-color: #0B101E;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin:0;
    text-align: center;
    border: 1px solid #2F6977;
    border-radius: 6px;
    overflow: hidden;
}
 
.card-produk:hover {
    border-color: #52B5B0;
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(123, 44, 123, 0.25);
}
 
/* Gambar */
 
.card-produk img {
    display: block;
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.card-produk h4 {
    margin: 10px 0 5px;
    color: #A4F3E6;
}

.card-produk p {
    margin: 5px 0;
    color: #FFD25A;
}

.card-produk h2 {
    margin-top: 10px;
    color: #FF7B25;
}

.keranjang {
    display: inline-block;
    background-color: #FF7B25;
    color: #0B101E;

    padding: 10px 20px;
    margin: 10px auto;

    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;

    cursor: pointer;
}

.keranjang:hover {
    background-color: #FFD25A;
}

.produk-deskripsi {
    color: inherit;
    text-decoration: none;
    display: block;
}

.produk-deskripsi:hover {
    color: inherit;
}

.produk-deskripsi img {
    cursor: pointer;
}

.produk-link h4 {
    cursor: pointer;
}

.produk-link p {
    cursor: pointer;
}

.container-detail {
    display: grid;
    grid-template-columns: 560px 1fr;
    gap: 20px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #2F6977;
    border-radius: 6px;
    background-color: #1C2B42;
}

.card-detail-img {
    margin: 0;
    padding: 0;
}

.card-detail-img img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-detail-text {
    margin: 0;
    padding: 0;
}

.card-detail-text h2 {
    margin: 5px 0;
    color: #A4F3E6;
}

.card-detail-text p {
    padding: 10px;
    color: #FFD25A;
    border: 1px solid #0B101E;
    border-radius: 6px;
    background-color: #0B101E;
    font-size: 30px;
}

.container-keranjang {
    margin: 20px;
    padding: 20px;

    background-color: white;

    border: 1px solid #2F6977;
    border-radius: 10px;
}

.container-keranjang h1 {
    margin-top: 0;
    color: #1C2B42;
}

.item-keranjang {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px;
    margin-bottom: 10px;

    background-color: #1C2B42;

    border-radius: 8px;

    color: white;
}

.item-info h3 {
    margin: 0 0 8px;
    color: #A4F3E6;
}

.item-info p {
    margin: 0;
    color: #FFD25A;
}

.hapus-produk {
    padding: 8px 12px;

    background-color: #FF7B25;
    color: white;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.hapus-produk:hover {
    background-color: #cc5c15;
}

.total-keranjang {
    margin-top: 20px;
    padding-top: 15px;

    border-top: 2px solid #2F6977;

    text-align: right;
}


